<!DOCTYPE html>
<html>
<head>
    <title>Forgot Password</title>
    <!-- <link rel="stylesheet" href="static\css\styles.css"> -->
    
    <!-- <script src="static\javascript\login.js"></script> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='javascript/login.js') }}"></script>

</head>
<body>

<div class="container">
    <h2>Reset Password</h2>

    <!-- <form>
        <input type="email" placeholder="Registered Email" required>

        <input type="password" placeholder="New Password" required>

        <input type="password" placeholder="Confirm Password" required>

        <button type="submit">Update Password</button>
    </form> -->
    <form method="POST" action="/forgot">
    <input type="text" name="username" placeholder="Username" required>
    <input type="password" name="password" placeholder="New Password" required>
    <button type="submit">Reset Password</button>
    </form>

    <div class="link">
        <p class="note">
        <!-- <a href="login.html">Back to Login</a> -->
        <a href="{{ url_for('login') }}">Back to Login</a>
        </p>
    </div>
</div>

</body>
</html>
